name: CI Pipeline

on: [push, pull_request]

jobs:
  test-freebsd:
    runs-on: ubuntu-latest
    name: Test time error
    steps:
      - name: Check out project
        uses: actions/checkout@v4

      - name: Test in FreeBSD
        uses: vmactions/freebsd-vm@v1
        with:
          release: "15.0"
          usesh: true
          copyback: false
          prepare: |
            pkg install -y git libxml2 libxslt python314 rust uv
          run: |
            git clone https://github.com/fleetingbytes/khm-analyzer
            cd khm-analyzer
            git switch words-sentences
            uv sync --no-managed-python --locked --verbose --python 3.14 --group test
